# Directory Ignores
.kube
devBoltdir
Boltdir/

# Make sure you never submit keys by accident.
*.pkcs7
*.pem
*.key

# Terraform Files
.terraform

# Make sure not to accidentally push any packages.
*.deb
*.pkg
*.rpm

# Python Bits
.env
*.pyc
__pycache__

# Build Files
build/
*.spec
dist

# Shell Script
simplesk8s-deployment.sh